*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background: lightblue;
  
}

.title{
  margin:40px;
}
.ui-menu { 
  width: 350px; 
  margin:30px;
}
.label{
  margin:40px;
}

.dropdown-menu,
.search,
.accordion{
  margin:30px;
  border:1px solid black;
  padding:20px;
}
.button{
  display:inline-block;
}

.button,
.spinner,
.search{
  width:30%;
  display:inline-block;
  border:1px solid black;
  padding:20px;
}
